@import "../../abstracts/variables";  // Importer les variables


.HeaderStyle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $primary-color;
  img {
    max-width: 200px; 
    margin-right: 20px; 
  }
}

nav {
  width: auto; // Modifiez la largeur pour qu'elle s'adapte au contenu.
  padding: 0 20px; // Padding sur les côtés pour donner de l'espace aux liens.
  display: flex;
  align-items: center; // Centrer verticalement le contenu du nav.
  

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%; // Prendre toute la largeur disponible du nav.
    
    li {
      font-size: 24px;
      margin-left: 60px;
      list-style-type: none; // Supprimez les puces de la liste.
      cursor: pointer; // Indiquer que les éléments sont cliquables.

      &:hover {
        text-decoration: underline; // Un effet au survol pour indiquer l'interaction.
      }
    }
  } 
}